<li>
    <p class="speaker"><% if (speaker['title']) { %><%= speaker['title'] %> <% } %><%= speaker['name'] %><% if (speaker['description']) { %> (<%= speaker['description'] %>)<% } %></p>

    <% if (speaker['related'].length > 0 && new_speaker) { %>
        <div class="related-stories">
        <h4>&lt;&nbsp;Other Stories With <%= speaker['name'] %></h4>
        <ul class="related">
        <% _.each(speaker['related'], function(related) { %>
        <li><a href="<%= related['url'] %>"><%= related['title'] %></a></li>
        <% }); %>
        </ul>
    </div>
    <% } %>

    <% _.each(fragments, function(fragment) { %>
        <p id="fragment-<%= fragment['slug'] %>" class="quote" data-offset="<%= fragment['offset'] %>"><%= fragment['text'] %></p>

    <% }); %>
</li>
